<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= @title || 'CAD for Venter cloning method' %></title>

	<%= stylesheet_link_tag "/stylesheets/application.css" %>
	<%= stylesheet_link_tag "/stylesheets/smoothness/jquery-ui-1.7.2.custom.css" %>
	<%= javascript_script_tag "/javascript/jquery-1.3.2.js" %>
	<%= javascript_script_tag "/javascript/jquery-ui-1.7.2.custom.min.js" %>
	<%= javascript_script_tag "/javascript/application.js" %>
	<%= javascript_script_tag "/javascript/jquery.simplemodal-1.3.js" %>

	<!-- IE 6 hacks -->
	<!--[if lt IE 7]>
	<%= javascript_script_tag "/javascript/application-ie.js" %>
	<![endif]-->

</head>
<body>
  <%= yield %>
</body>
</html>