<div class='results'>
	<div class='header'>
		Cloning Primers
	</div>
	<div class='primers'>
		<% @primers.each_with_index do |primer,id| %>
			<%= "#{primer[0]} forward:\t#{primer[1]}" %><br/>
			<%= "#{primer[0]} reverse:\t#{primer.last}" %><br/>
		<% end %>
	</div>
	<div class='header'>
		Sequencing Primers
	</div>
	<div>
	</div>
	<div class='header'>
		Sequence
	</div>
	<div class='fullsequence'>
		<form id="ape" action='<%= url_for "/download" %>' method='post'> 
			<input type="hidden" name="construct[sequence]" value="<%= @full %>">
			<% total_size = 0 %>
			<% @parts.each_with_index do |part,id| %>
				<input type="hidden" name="construct[parts][<%= id+1 %>][name]" value="<%= part['name'] %>">
				<input type="hidden" name="construct[parts][<%= id+1 %>][start]" value="<%= total_size + 1 %>">
				<input type="hidden" name="construct[parts][<%= id+1 %>][end]" value="<%= total_size + part['fullsequence'].size %>">
				<% total_size += part['fullsequence'].size %>
			<% end %>
			<a href="javascript:submitForm()">Download ApE file</a>
		</form>
		<textarea cols="100" rows="25"><%= @full %></textarea>
	</div>
	<div class='header'>
		Parts
	</div>
	<div class='parts'>
		<% @parts.each_with_index do |part,id| %>
		<div id='parts_<%= id %>' class='part'>
			<div class='handle'>			
				<div><a href="javascript:partInfo('#parts_<%= id %>_content')">Details</a></div>
			</div>
			<div class='content'>
				<div class='name'><%= part['name'] %></div>
			</div>
			<div id='parts_<%= id %>_content' style='display: none;'>
				<div class='sequence'>
			  		Sequence: 
					<textarea cols="40" rows="10"><%= part['fullsequence'] %></textarea>
				</div>
			</div>
		</div>
		<% end %>
	</div>	
</div>